<!DOCTYPE html>
<head>
  <title>{{ prefix }} - {{ title }}</title>
  {% if author %}
  <meta name="author" content="{{ author }}" />
  {% endif %}
  {% for href in css %}
  {% if href.endswith(".less") %}
  <link rel="stylesheet/less" type="text/css" href="{{ href }}" />
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ href }}" />
  {% endif %}
  {% endfor %}
  {% if icon %}
  <link rel="icon" type="image/x-icon" href="{{ icon }}" />
  {% endif %}
  {% for src in js %}
  <script src="{{ src }}"></script>
  {% endfor %}
  <script type="text/x-thebe-config">
  {
    {% if user.is_authenticated %}
    kernelOptions: {
      name: "julia-1.8",
      serverSettings: {
        "baseUrl": "http://127.0.0.1:8888",
      }
    },
    {% else %}
    binderOptions: {
      repo: "khoi-nguyen/binder",
    },
    {% endif %}
    mountStatusWidget: true,
  }
  </script>
</head>
<body>
<div style="display:none;">
\[
\require{mathtools}
\DeclarePairedDelimiter\abs{\lvert}{\rvert}
\DeclarePairedDelimiter\norm{\lVert}{\rVert}
\DeclarePairedDelimiter\ip{\langle}{\rangle}
\DeclarePairedDelimiter{\floor}{\lfloor}{\rfloor}
\DeclarePairedDelimiter{\ceil}{\lceil}{\rceil}
\]
</div>
{% block content %}
{% endblock %}
<script>
window.addEventListener('load', function () {
  thebelab.bootstrap();
})
</script>
</body>
</html>
