<!DOCTYPE html>
<head>
  <title>{{ prefix }} - {{ title }}</title>
  {% if author %}
  <meta name="author" content="{{ author }}" />
  {% endif %}
  {% for href in css %}
  {% if href.endswith(".less") %}
  <link rel="stylesheet/less" type="text/css" href="{{ href }}" />
  {% else %}
  <link rel="stylesheet" type="text/css" href="{{ href }}" />
  {% endif %}
  {% endfor %}
  {% if icon %}
  <link rel="icon" type="image/x-icon" href="{{ icon }}" />
  {% endif %}
  {% for src in js %}
  <script src="{{ src }}"></script>
  {% endfor %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
