<!DOCTYPE html>
<head>
  <title>{{ prefix }} - {{ title }}</title>
  {% if author %}
  <meta name="author" content="{{ author }}" />
  {% endif %}
  {% for href in css %}
  <link rel="stylesheet" href="{{ href }}" />
  {% endfor %}
  {% if icon %}
  <link rel="icon" type="image/x-icon" href="{{ icon }}" />
  {% endif %}
  {% for src in js %}
  <script src="{{ src }}"></script>
  {% endfor %}
</head>
<body>
{% if output == "html" %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" href="/">{{ prefix }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% for link in navbar %}
          {% if link.href %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link.href }}">
              {% if link.icon %}
              <i class="{{ link.icon }}"></i>
              {% endif %}
              {{ link.text }}
            </a>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% if link.icon %}
              <i class="{{ link.icon }}"></i>
              {% endif %}
              {{ link.dropdown }}
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
              {% for item in link.links %}
              <li>
                {% if item.icon %}
                <i class="{{ item.icon }}"></i>
                {% endif %}
                <a class="dropdown-item" href="{{ item.href }}">
                {{ item.text }}
                </a>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
          {% endfor %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container mt-3">
{% if title %}
<h1 class="text-center">{{ title }}</h1>
{% endif %}
{{ content | safe }}
{% if user.is_authenticated %}
<hr />
<p><a href="/login">Log out</a></p>
{% endif %}
</div>
{% else %}
<div class="reveal">
<div class="slides">
<section class="slide text-center">
  <div class="title-slide">
    <h1>{{ title }}</h1>
    <h3>{{ author }}</h3>
    <h4>{{ institute }}</h4>
  </div>
</section>
{{ content | safe }}
</div>
<div id="whiteboard-toolbar">
  <a class="btn" href=".">
    <i class="fa-solid fa-folder-open fa-xl"></i>
  </a>
  {% if user.is_authenticated %}
  <span class="btn" onclick="RevealWhiteboard.save();">
    <i class="fa-solid fa-floppy-disk fa-xl"></i>
  </span>
  {% for button in whiteboard %}
  <span class="btn" onclick="RevealWhiteboard.setColor('{{ button.color }}', {{ button.width }});">
    <i class="{{ button.icon }} fa-xl" style="color: {{ button.color }}"></i>
  </span>
  {% endfor %}
  <span class="btn" onclick="RevealWhiteboard.addVerticalSlide();">
    <i class="fa-solid fa-plus fa-xl"></i>
  </span>
  <span class="btn" onclick="RevealWhiteboard.removeVerticalSlide();">
    <i class="fa-solid fa-trash fa-xl"></i>
  </span>
  <span class="btn" onclick="RevealWhiteboard.startErasing();">
    <i class="fa-solid fa-eraser fa-xl"></i>
  </span>
  <span class="btn" onclick="RevealWhiteboard.clear(true);">
    <i class="fa-solid fa-chalkboard fa-xl"></i>
  </span>
  <span class="btn" onclick="logout()">
    <i class="fa-solid fa-right-from-bracket fa-xl"></i>
  </span>
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    <i class="fa-solid fa-calculator"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-lg">
  <iframe src="https://www.desmos.com/testing/virginia/scientific" width="600" height="600"></iframe>
  </div>
  {% endif %}
</div>
</div>
<script>
  function logout() {
    RevealWhiteboard.save();
    fetch("/logout").then(response => response.json()).then(() => {
      location.reload();
    });
  }
  Reveal.initialize({
    admin: {{ "true" if user.is_authenticated else "false" }},
    center: false,
    hash: true,
    margin: 0,
    height: 1080,
    overview: true,
    touch: false,
    width: 1920,
    plugins: [ RevealWhiteboard ],
  })
</script>
{% endif %}
</body>
</html>
