{% extends "main.html" %}
{% block content %}
<div class="reveal">
<div class="slides">
<section class="slide text-center">
  <div class="title-slide">
    {% if logo %}
    <p><img src="{{ logo }}" height="100px"></p>
    {% endif %}
    <h1>{{ title }}</h1>
    <h3>{{ author }}</h3>
    <h4>{{ institute }}</h4>
  </div>
</section>
{{ content | safe }}
</div>
{% include "toolbar.html" %}
</div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
<script>
  function logout() {
    RevealWhiteboard.save();
    fetch("/logout").then(response => response.json()).then(() => {
      location.reload();
    });
  }
  Reveal.initialize({
    admin: {{ "true" if user.is_authenticated else "false" }},
    center: false,
    hash: true,
    margin: 0,
    height: 1080,
    overview: true,
    pdfSeparateFragments: false,
    slideNumber: slide => {
      const { h, v } = Reveal.getIndices(slide);
      return [
        `${h + 1}.${v + 1}`,
        "/",
        (RevealWhiteboard.boards || []).length
      ]
    },
    touch: false,
    width: 1920,
    plugins: [ RevealWhiteboard ],
  })
  const socket = io.connect(window.location.origin);
  socket.on("changeReceived", function (data) {
    RevealWhiteboard.onBoardChangeReceived(data);
  });
</script>
{% endblock %}
