<div id="whiteboard-toolbar">
  <a class="btn" href="{{ dir }}">
    <i class="fa-solid fa-folder-open fa-xl"></i>
  </a>
  {% if user.is_authenticated %}
  <span class="btn" onclick="RevealWhiteboard.save();">
    <i class="fa-solid fa-floppy-disk fa-xl"></i>
  </span>
  <span class="dropdown">
    <span class="btn dropdown-toggle" data-bs-toggle="dropdown">
      <i id="current-brush"></i>
    </span>
    <ul class="dropdown-menu">
      <li>
      {% for button in whiteboard %}
      <span class="btn" onclick="changeBrush('{{ button.color }}', {{ button.width }});">
        <i class="{{ button.icon }} fa-xl" style="color: {{ button.color }}"></i>
      </span>
      {% endfor %}
      <span class="btn" onclick="changeMode('erase');">
        <i class="fa-solid fa-eraser fa-xl"></i>
      </span>
      </li>
    </ul>
  </span>
  <span class="dropdown">
    <span class="btn dropdown-toggle text-success" data-bs-toggle="dropdown">
      <i class="fa-solid fa-chalkboard fa-xl"></i>
    </span>
    <ul class="dropdown-menu">
      <li class="dropdown-item" onclick="RevealWhiteboard.addVerticalSlide();">
        <span class="btn">
          <i class="fa-solid fa-plus fa-xl"></i>
        </span>
        Add board
      </li>
      <li class="dropdown-item" onclick="RevealWhiteboard.removeVerticalSlide();">
        <span class="btn">
          <i class="fa-solid fa-trash fa-xl"></i>
        </span>
        Remove board
      </li>
      <li class="dropdown-item" onclick="RevealWhiteboard.board.clearBoard(true); RevealWhiteboard.save();">
        <span class="btn">
          <i class="fa-solid fa-broom fa-xl"></i>
        </span>
        Clear current board
      </li>
    </ul>
  </span>
  <span class="btn" onclick="logout()">
    <i class="fa-solid fa-right-from-bracket fa-xl"></i>
  </span>
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    <i class="fa-solid fa-calculator"></i>
  </button>
  <div class="dropdown-menu dropdown-menu-lg">
  <iframe src="https://www.desmos.com/testing/virginia/scientific" width="600" height="600"></iframe>
  </div>
  <div class="thebe-status">
  </div>
  {% endif %}
</div>
<script>
function changeBrush(color, lineWidth, board=undefined) {
  const currentBrush = document.getElementById("current-brush");
  if (board === undefined) {
    board = RevealWhiteboard.board
  }
  board.mode = "draw";
  board.changeBrush(color, lineWidth);
  if (lineWidth > 5) {
    currentBrush.setAttribute("class", "fa-solid fa-highlighter fa-xl");
  } else {
    currentBrush.setAttribute("class", "fa-solid fa-pen fa-xl");
  }
  currentBrush.setAttribute("style", "color:" + color);
}
function changeMode(mode, board=undefined) {
  const currentBrush = document.getElementById("current-brush");
  if (board === undefined) {
    board = RevealWhiteboard.board
  }
  board.mode = mode;
  if (mode === "erase") {
    currentBrush.setAttribute("style", "");
    currentBrush.setAttribute("class", "fa-solid fa-eraser fa-xl");
  } else {
    changeBrush(board.color, board.lineWidth, board);
  }
}
Reveal.on("slidechanged", (event) => {
  window.dispatchEvent(new Event('resize')); // Thebe
  if (RevealWhiteboard.boards) {
    const board = RevealWhiteboard.boards[event.indexh][event.indexv];
    changeMode(board.mode, board);
  }
});
</script>
